/* Matthew Hurst | CSCE 242*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background-image: url(../images/GymBackground4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    font-family: "Montserrat";
}
#main-header { background: rgba(0, 0, 0, 0.5); padding: 15px; }
#main-header h1 { font-size: 48px; font-family: "Playfair Display"; text-align: center; }
#main-nav { display: none; justify-content: center; }
#main-nav ul { display: flex; flex-direction: column; align-items: center; list-style-type: none; gap: 10px; padding-left: 0; }
#main-nav li { font-size: 20px; }
#main-nav a { text-decoration: none; color: white; }
#main-nav a:hover { color: rgb(53, 127, 125); }
#main-nav.show { display: flex; }
#nav-toggle {
    display: block;
    margin: 10px auto;
    background: rgba(15,19,23,0.8);
    color: white;
    border: 1px solid rgb(53, 127, 125);
    border-radius: 8px;
    font-size: 28px;
    width: 60px;
    height: 45px;
    cursor: pointer;
}

.case-upper-section h1 { text-align: center; font-size: 48px; font-family: "Playfair Display"; }
.case-upper-section p { text-align: center; font-size: 22px; }

.case-middle-section { padding: 10px; }
.case-middle-frames {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: auto;
    background: rgba(15, 19, 23, 0.85);
    border-radius: 22px;
    padding: 20px;
    box-sizing: border-box;
}
.case-middle-frames img {
    display: block;
    width: 315px;
    height: 257px;
    border-radius: 20px;
    object-fit: cover;
}
.case-middle-frame-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.case-middle-frame-txt h2 { font-size: 32px; font-family: "Playfair Display"; }
.case-middle-frame-txt p { margin: 0; font-size: 22px; }
.case-middle-frame-txt button {
    background: rgb(53, 127, 125);
    width: 191px;
    height: 41px;
    color: white;
    font-size: 24px;
    border-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
}
.case-middle-frame-txt button:hover { background: white; color: rgb(53, 127, 125); border: 1px solid rgb(53, 127, 125); }

.case-lower-section { padding-bottom: 20px; }
.case-lower-section h1 { font-size: 32px; font-family: "Playfair Display"; text-align: center; }

.case-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.case-lower-frames {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: rgba(15, 19, 23, 0.8);
    width: 295px;
    height: 380px;
    border-radius: 20px;
    overflow: hidden;
}
.case-lower-frames img {
    display: block;
    width: 292px;
    height: 162px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.case-lower-frames h2 { 
    font-size: 22px; 
    text-align: center; 
    padding: 0 10px; 
}
.case-lower-frames p { 
    font-size: 18px; 
    text-align: center; 
    padding: 0 10px; 
}
.case-lower-frames button {
    background: rgb(53, 127, 125);
    width: 138px;
    height: 32px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
}
.case-lower-frames button:hover { 
    background: white; 
    color: rgb(53, 127, 125); 
    border: 1px solid rgb(53, 127, 125); }

#main-footer { 
    background: rgba(61, 67, 75, 0.8); 
    text-align: center; 
    padding: 20px; 
}
#main-footer p { 
    font-family: "Playfair Display"; 
    font-size: 16px; 
}

@media (min-width: 900px) {
    #main-header h1 { text-align: left; }
    #nav-toggle { margin: 0 15px; font-size: 22px; width: 45px; height: 35px; }
    #main-nav { display: flex; justify-content: flex-end; }
    #main-nav.show { display: none; }
    #main-nav ul { flex-direction: row; gap: 49px; margin: 0; }
    .case-middle-frames { flex-direction: row; align-items: center; gap: 28px; }
    .case-middle-frame-txt { align-items: center; text-align: center; }
    .case-cards { flex-direction: row; justify-content: center; gap: 88px; }
    .case-lower-section h1 { text-align: left; }
}